# Rename this file to .env before running the server

# Local MongoDB:
MONGO_URI=mongodb://127.0.0.1:27017/portfolioDB

# OR MongoDB Atlas (free cloud database) - get this from atlas.mongodb.com
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolioDB

PORT=5000
